<!DOCTYPE html>
<html>
<head>
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
	<link rel="stylesheet" href="../assets/css/layui.css">
	<link rel="stylesheet" href="../assets/font2/iconfont.css">
	<link rel="stylesheet" href="../assets/css/admin.css">
	<link rel="stylesheet" href="../assets/css/view.css"/>
	<link rel="icon" href="/favicon.ico">
	<script src="../assets/jquery.js"></script>
	<title>交互效果</title>
</head>
<body>
	<div style="padding: 100px;">
		<button class="layui-btn" onclick="c_jiaohu('请求成功!',1,1)">请求成功!</button>
		<button class="layui-btn" onclick="c_jiaohu('请求失败!',2,1)">请求失败!</button>
		<button class="layui-btn" onclick="c_jiaohu('已停用',3,1)">停用</button>
		<button class="layui-btn" onclick="c_jiaohu('已停用',0,2)">加载中</button>
	</div>
	<script src="../assets/layui.all.js"></script>
	<script src="../jiaohu.js"></script>
</body>
</html>
