<!DOCTYPE html>
<html>
<head>
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
	<link rel="stylesheet" href="../assets/css/layui.css">
	<link rel="stylesheet" href="../assets/font2/iconfont.css">
	<link rel="stylesheet" href="../assets/css/view.css"/>
	<link rel="icon" href="/favicon.ico">
	<script src="../assets/jquery.js"></script>
	<title>基本信息管理-医院详情</title>
</head>
<body class="layui-view-body">
	<div class="layui-content">
		<div class="layui-page-header">
		    <div class="pagewrap">
		        <span class="layui-breadcrumb">
		          <a href="">第三方平台管理</a>
		          <a href="">套餐管理</a>
		        </span>
		    </div>
		</div>
		<!-- 医院详情 -->
		<div class="hospitalDetail">
			<div class="item">
				<div class="logo"><img src="../assets/images/Dlogo.png" alt=""></div>
				<ul class="textList">
					<li>
						<span>医院名称：北京大学深圳医院<br>医院等级：三甲医院</span>
					</li>
					<li>
						<span>医院地址：深圳市福田区莲花路1120号<br>联系人：张潇潇</span>
					</li>
					<li>
						<span>联系电话：18665857644<br></span>
					</li>
				</ul>
			</div>
			<div class="item">
				<div class="title">医院图片(4)</div>
				<ul class="imgList">
					<li><img src="../assets/images/01.png" alt=""></li>
					<li><img src="../assets/images/01.png" alt=""></li>
					<li><img src="../assets/images/01.png" alt=""></li>
					<li><img src="../assets/images/01.png" alt=""></li>
				</ul>
			</div>
			<div class="item">
				<div class="title">医院简介</div>
				<div class="text">是某个时刻莫干山<br>莫干山开关马赛克干嘛看什么贵客上门顾客上门顾客是个</div>
			</div>
		</div>
		<div class="c_btns_center"><button type="button" class="layui-btn layui-btn-blue">返回上一页</button></div>
	</div>
</body>
</html>
