<!DOCTYPE html>
<html>
<head>
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
	<link rel="stylesheet" href="../assets/css/layui.css">
	<link rel="stylesheet" href="../assets/font2/iconfont.css">
	<link rel="stylesheet" href="../assets/css/view.css"/>
	<link rel="icon" href="/favicon.ico">
	<script src="../assets/jquery.js"></script>
	<title>基本信息管理-医院信息设置</title>
</head>
<body class="layui-view-body">
	<div class="layui-content">
		<div class="layui-page-header">
		    <div class="pagewrap">
		        <span class="layui-breadcrumb">
		          <a href="">第三方平台管理</a>
		          <a href="">套餐管理</a>
		        </span>
		    </div>
		</div>
		<div class="infoChangeWrap layui-form">
			<div class="item">
				<dl>
					<dt>医院名称：</dt>
					<dd>深圳市人民医院体检中心</dd>
				</dl>
			</div>
			<div class="item">
				<dl>
					<dt>医院地址：</dt>
					<dd>深圳市人民医院体检中心</dd>
				</dl>
			</div>
			<div class="item">
				<div class="title">医院图片：</div>
				<ul class="imgList">
					<li></li>
				</ul>
			</div>
			<div class="item">
				<div class="title">医院LOGO：</div>
				<ul class="imgList">
					<li></li>
				</ul>
			</div>
			<div class="item">
				<div class="title">医院介绍：</div>
				<div style="overflow: hidden;">
					<textarea class="layui-textarea"></textarea>
				</div>
			</div>
		</div>
		<div class="c_btns_center">
			<button class="layui-btn layui-btn-blue">保存</button>
		</div>
	</div>
	<script src="../assets/layui.all.js"></script>
</body>
</html>
