<!DOCTYPE html>
<html>
<head>
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
	<link rel="stylesheet" href="../assets/css/layui.css">
	<link rel="stylesheet" href="../assets/font2/iconfont.css">
	<link rel="stylesheet" href="../assets/css/view.css"/>
	<link rel="icon" href="/favicon.ico">
	<script src="../assets/jquery.js"></script>
	<title>报表中心-预约报表</title>
</head>
<body class="layui-view-body">
	<div class="layui-content">
		<div class="layui-page-header">
		    <div class="pagewrap">
		        <span class="layui-breadcrumb">
		          <a href="">第三方平台管理</a>
		          <a href="">套餐管理</a>
		        </span>
		    </div>
		</div>
		<div>
			<div class="jindu_list">
				<div class="time">2019年9月05日  星期四</div>
				<div class="big">5</div>
				<ul>
					<li>
						<h4>康康体检网</h4>
						<p>总预约人数200，实到预约人数140</p>
						<div class="progress_wrap">
							<div class="layui-progress layui-progress-big">
								<div class="layui-progress-bar layui-bg-white" lay-percent="10%"></div>
							</div>
							<span>16%</span>
						</div>
					</li>
					<li>
						<h4>康康体检网</h4>
						<p>总预约人数200，实到预约人数140</p>
						<div class="progress_wrap">
							<div class="layui-progress layui-progress-big">
								<div class="layui-progress-bar layui-bg-white" lay-percent="10%"></div>
							</div>
							<span>16%</span>
						</div>
					</li>
					<li>
						<h4>康康体检网</h4>
						<p>总预约人数200，实到预约人数140</p>
						<div class="progress_wrap">
							<div class="layui-progress layui-progress-big">
								<div class="layui-progress-bar layui-bg-white" lay-percent="10%"></div>
							</div>
							<span>16%</span>
						</div>
					</li>
				</ul>
			</div>
			<div class="pdBox_left layui-form">
				<!-- 排期 -->
				<div class="comPaiqiWrap" style="padding: 40px 34px;">
					<div class="top">
						<div class="layui-input-inline" style="width: 110px;">
							<select name="" id="">
								<option value="">1月</option>
								<option value="">2月</option>
							</select>
						</div>
						<div class="tool">
							<a href="javascript;;"><i class="layui-icon">&#xe603;</i></a>
							<div class="layui-input-inline" style="width: 80px;margin: 0 10px;">
								<select name="" id="">
									<option value="">1月</option>
									<option value="">2月</option>
								</select>
							</div>
							<a href="javascript;;"><i class="layui-icon">&#xe602;</i></a>
						</div>
					</div>
					<table class="paiqiTable">
						<thead>
							<tr>
								<th>一</th>
								<th>二</th>
								<th>三</th>
								<th>四</th>
								<th>五</th>
								<th class="color_red">六</th>
								<th class="color_red">七</th>
							</tr>
						</thead>
						<tbody>
							<tr>
								<td>
									<h4>26</h4>
									<p>20/400</p>
								</td>
								<td>
									<h4>26</h4>
									<p>20/400</p>
								</td>
								<td>
									<h4>26</h4>
									<p>20/400</p>
								</td>
								<td>
									<h4>26</h4>
									<p>20/400</p>
								</td>
								<td>
									<h4>26</h4>
									<p>20/400</p>
								</td>
								<td>
									<h4 class="color_red">26</h4>
									<p class="color_red">休息</p>
								</td>
								<td>
									<h4 class="color_red">26</h4>
									<p><span class="color_orange">150</span>/400</p>
								</td>
							</tr>
							<tr>
								<td class="status1">
									<h4>26</h4>
									<p><span class="color_red">约满</span></p>
								</td>
								<td class="status1">
									<h4>26</h4>
									<p><span class="color_orange">150</span>/400</p>
								</td>
								<td class="status1 status2">
									<h4>26</h4>
									<p>约满</p>
								</td>
								<td class="status1">
									<h4>26</h4>
									<p><span class="color_orange">150</span>/400</p>
								</td>
								<td class="status1">
									<h4>26</h4>
									<p><span class="color_orange">150</span>/400</p>
								</td>
								<td class="status1">
									<h4 class="color_red">26</h4>
									<p class="color_red">休息</p>
								</td>
								<td class="status1">
									<h4 class="color_red">26</h4>
									<p><span class="color_orange">150</span>/400</p>
								</td>
							</tr>
						</tbody>
					</table>
				</div>
			</div>
		</div>
	</div>
	<script src="../assets/layui.all.js"></script>
</body>
</html>
