<!DOCTYPE html>
<html>
<head>
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
	<link rel="stylesheet" href="../assets/css/layui.css">
	<link rel="stylesheet" href="../assets/font2/iconfont.css">
	<link rel="stylesheet" href="../assets/css/view.css"/>
	<link rel="icon" href="/favicon.ico">
	<title>渠道订单管理-详情</title>
</head>
<body class="layui-view-body">
	<div class="layui-content">
		<div class="layui-page-header">
		    <div class="pagewrap">
		        <span class="layui-breadcrumb">
		          <a href="">第三方平台管理</a>
		          <a href="">套餐管理</a>
		        </span>
		    </div>
		</div>
		<div id="ddxq_wrap">
			<div class="box-item">
				<div class="box-title">订单信息</div>
				<div class="layui-row">
					<dl class="layui-col-md3">
						<dt>渠道订单管理：</dt>
						<dd>D20190814143400001</dd>
					</dl>
					<dl class="layui-col-md3">
						<dt>套餐名称：</dt>
						<dd>入职体检（男）</dd>
					</dl>
					<dl class="layui-col-md3">
						<dt>销售价格：</dt>
						<dd>￥4522</dd>
					</dl>
					<dl class="layui-col-md3">
						<dt>订单日期：</dt>
						<dd>2019-07-30</dd>
					</dl>
				</div>
				<div class="layui-row">
					<dl class="layui-col-md3">
						<dt>状态：</dt>
						<dd>预约成功</dd>
					</dl>
					<dl class="layui-col-md3">
						<dt>预约日期：</dt>
						<dd>2019-08-30</dd>
					</dl>
					<dl class="layui-col-md3">
						<dt>医院单号：</dt>
						<dd>20192535</dd>
					</dl>
					<dl class="layui-col-md3">
						<dt>医院单号：</dt>
						<dd>20192535</dd>
					</dl>
				</div>
			</div>
			<div class="box-item">
				<div class="box-title">用户信息</div>
				<div class="layui-row">
					<dl class="layui-col-md3">
						<dt>用户姓名：</dt>
						<dd>张三李四</dd>
					</dl>
					<dl class="layui-col-md3">
						<dt>性别：</dt>
						<dd>男</dd>
					</dl>
					<dl class="layui-col-md3">
						<dt>联系电话：</dt>
						<dd>18678786518</dd>
					</dl>
				</div>
				<div class="layui-row">
					<dl class="layui-col-md3">
						<dt>婚姻状态：</dt>
						<dd>已婚</dd>
					</dl>
					<dl class="layui-col-md3">
						<dt>证件号：</dt>
						<dd>431126199808296612</dd>
					</dl>
					<dl class="layui-col-md3">
						<dt>出生日期：</dt>
						<dd>1997-08-29</dd>
					</dl>
				</div>
			</div>
			<div class="table_wrap table_wrap2">
				<div class="box-title">项目信息</div>
				<table class="layui-table" lay-skin='nob'>
					<thead>
						<tr>
							<th>组合项目编号</th>
							<th>组合项目名称</th>
							<th>科室编号</th>
							<th>科室名称</th>
							<th>单价</th>
							<th>是否加项</th>
							<th>是否到检</th>
						</tr>
					</thead>
					<tbody>
						<tr>
							<td>0109</td>
							<td>内科</td>
							<td>01</td>
							<td>内科</td>
							<td>0</td>
							<td>否</td>
							<td>否</td>
						</tr>
					</tbody>
				</table>
			</div>
		</div>
		<div class="c_btns_center">
			<button class="layui-btn layui-btn-blue">返回上一页</button>
		</div>
	</div>
	<script src="../assets/layui.all.js"></script>
</body>
</html>
