<!DOCTYPE html>
<html>
<head>
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
	<link rel="stylesheet" href="../assets/css/layui.css">
	<link rel="stylesheet" href="../assets/font2/iconfont.css">
	<link rel="stylesheet" href="../assets/css/view.css"/>
	<link rel="icon" href="/favicon.ico">
	<script src="../assets/jquery.js"></script>
	<title>账号管理</title>
</head>
<body class="layui-view-body">
	<div class="layui-content">
		<div class="layui-page-header">
		    <div class="pagewrap">
		        <span class="layui-breadcrumb">
		          <a href="">第三方平台管理</a>
		          <a href="">套餐管理</a>
		        </span>
		    </div>
		</div>
		<div class="tool_pannel">
			<form class="layui-form">
				<div class="layui-form-item">
					<div class="layui-form-inline">
						<label class="layui-form-label">管理员名称：</label>
						<div class="layui-input-inline">
							<input type="text" class="layui-input" placeholder="请输入">
						</div>
					</div>
					<div class="layui-form-inline">
						<label class="layui-form-label">选择日期：</label>
						<div class="layui-input-inline">
							<input type="text" class="layui-input" placeholder="请输入" id="time">
						</div>
					</div>
					<div class="layui-form-inline">
						<button class="layui-btn layui-btn-blue"><i class="iconfont icon-sousuo"></i>搜索</button>
					</div>
				</div>
				<button class="layui-btn layui-btn-danger" type="button">批量删除</button>
				<button class="layui-btn layui-btn-blue" type="button" onclick="addUser()">添加账号</button>
			</form>
		</div>
		<div class="table_wrap">
			<table class="layui-table layui-form tbHasCheck" lay-skin='nob'>
				<thead>
					<tr>
						<th><input type="checkbox" name="" title="" lay-skin="primary">ID</th>
						<th>登录账号</th>
						<th>手机</th>
						<th>角色</th>
						<th>姓名</th>
						<th>创建时间</th>
						<th>状态</th>
						<th>操作</th>
					</tr>
				</thead>
				<tbody>
					<tr>
						<td><input type="checkbox" name="" title="" lay-skin="primary">1</td>
						<td>管理员</td>
						<td>15898874458</td>
						<td>操作岗</td>
						<td>张三</td>
						<td>2019-09-09 12:00</td>
						<td><span class="text_status">已启用</span></td>
						<td class="tooltd">
							<a href="javascript:;" class="text_blue">停用</a>
							<a href="javascript:;" class="text_blue" onclick="delet()">删除</a>
							<a href="javascript:;" class="text_blue">编辑</a>
							<a href="javascript:;" class="text_blue">密码重置</a>
						</td>
					</tr>
					<tr>
						<td><input type="checkbox" name="" title="" lay-skin="primary">2</td>
						<td>管理员</td>
						<td>15898874458</td>
						<td>操作岗</td>
						<td>张三</td>
						<td>2019-09-09 12:00</td>
						<td><span class="text_status text_status2">已停用</span></td>
						<td class="tooltd">
							<a href="javascript:;" class="text_blue">停用</a>
							<a href="javascript:;" class="text_blue" onclick="delet()">删除</a>
							<a href="javascript:;" class="text_blue">编辑</a>
							<a href="javascript:;" class="text_blue">密码重置</a>
						</td>
					</tr>
				</tbody>
			</table>
			<!-- 分页样式 -->
			<div class="table_pages">
				<span class="page-prev"><i class="layui-icon">&#xe603;</i></span>
				<a href="" class="on">1</a>
				<a href="">2</a>
				<a href="">3</a>
				<a href="">4</a>
				<span class="page-next"><i class="layui-icon">&#xe602;</i></span>
				<span class="page-count">共 5 页</span>
			</div>
		</div>
	</div>
	<!-- 删除弹窗 -->
	<div class="delet_dialog">
		<h3><img src="../assets/images/warn.png" alt="">这是进行一项操作时必须了解的重要信息</h3>
		<p>用户须知的信息，你还要继续吗？</p>
		<div class="buttonwrap">
			<a href="javascript:;" class="layui-btn layui-btn-primary close">取消</a>
			<a href="javascript:;" class="layui-btn layui-btn-blue yes">保存</a>
		</div>
	</div>
	<!-- 添加账号弹窗 -->
	<div class="addUser_dialog">
		<div class="layui-form">
			<div class="layui-form-item">			
				<label class="layui-form-label"><span class="text_star">*</span>账号：</label>
				<div class="layui-input-inline">
					<input type="text" class="layui-input" placeholder="请输入">
				</div>
			</div>
			<div class="layui-form-item">
				<label class="layui-form-label"><span class="text_star">*</span>手机号码：</label>
				<div class="layui-input-inline">
					<input type="text" class="layui-input" placeholder="请输入">
				</div>
			</div>
			<div class="layui-form-item">
				<label class="layui-form-label"><span class="text_star">*</span>角色：</label>
				<div class="layui-input-inline">
					<select name="" id="">
						<option value="">111</option>
						<option value="">111</option>
					</select>
				</div>
			</div>
			<div class="layui-form-item">
				<label class="layui-form-label"><span class="text_star">*</span>姓名：</label>
				<div class="layui-input-inline">
					<input type="text" class="layui-input" placeholder="请输入">
				</div>
			</div>
			<div class="layui-form-item">			
				<label class="layui-form-label">备注：</label>
				<div class="layui-input-inline">
					<textarea type="text" class="layui-textarea" placeholder="请输入"></textarea>
				</div>
			</div>
		</div>
		<div class="buttonwrap">
			<a href="javascript:;" class="layui-btn layui-btn-primary close">取消</a>
			<a href="javascript:;" class="layui-btn layui-btn-blue yes">保存</a>
		</div>
	</div>
	<script src="../assets/layui.all.js"></script>
	<script>
		layui.use('laydate', function(){
			var laydate = layui.laydate;   
			//执行一个laydate实例
			laydate.render({
				elem: '#time' //指定元素
			});
		});
		//删除操作
		function delet() {
			var i = layer.open({
				type: 1,
				title: '',
				closeBtn: 0,
				area: ['400px', '200px'],
				content: $('.delet_dialog') 
			})
			$('.close').click(function() {
				layer.close(i);
				$('.delet_dialog').hide()
			})
			$('.yes').click(function(){
				layer.msg('保存中...', { icon: 1,time: false });
			})
		}
		//添加账号
		function addUser() {
			var i = layer.open({
				type: 1,
				title: ['创建角色','font-weight:bold;font-size:16px'],
				area: ['auto', 'auto'],
				content: $('.addUser_dialog'),
				cancel: function() {
					$('.addUser_dialog').hide()
				}
			})
			$('.close').click(function() {
				layer.close(i);
				$('.addUser_dialog').hide()
			})
			$('.yes').click(function(){
				layer.msg('账号密码不能为空')
			})
		}
	</script>
</body>
</html>
