<!DOCTYPE html>
<html>
<head>
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
	<link rel="stylesheet" href="../assets/css/layui.css">
	<link rel="stylesheet" href="../assets/font2/iconfont.css">
	<link rel="stylesheet" href="../assets/css/view.css"/>
	<link rel="icon" href="/favicon.ico">
	<script src="../assets/jquery.js"></script>
	<title>退款管理-详情</title>
</head>
<body class="layui-view-body">
	<div class="layui-content">
		<div class="layui-page-header">
		    <div class="pagewrap">
		        <span class="layui-breadcrumb">
		          <a href="">第三方平台管理</a>
		          <a href="">套餐管理</a>
		        </span>
		    </div>
		</div>
		<div id="ddxq_wrap">
			<div class="box-item">
				<div class="box-title">退款申请</div>
				<div class="layui-row">
					<dl class="layui-col-md3">
						<dt>订单编号：</dt>
						<dd>D20190814143400001</dd>
					</dl>
					<dl class="layui-col-md3">
						<dt>套餐名称：</dt>
						<dd>入职体检（男）</dd>
					</dl>
					<dl class="layui-col-md3">
						<dt>退款金额：</dt>
						<dd>￥4522</dd>
					</dl>
				</div>
				<div class="layui-row">
					<dl class="layui-col-md3">
						<dt>退款状态状态：</dt>
						<dd>预约成功</dd>
					</dl>
					<dl class="layui-col-md3">
						<dt>预约日期：</dt>
						<dd>2019-08-30</dd>
					</dl>
					<dl class="layui-col-md3">
						<dt>医院单号：</dt>
						<dd>20192535</dd>
					</dl>
				</div>
			</div>
			<div class="box-item">
				<div class="box-title">渠道信息</div>
				<div class="layui-row">
					<dl class="layui-col-md3">
						<dt>对接人姓名：</dt>
						<dd>张三李四</dd>
					</dl>
					<dl class="layui-col-md3">
						<dt>性别：</dt>
						<dd>男</dd>
					</dl>
					<dl class="layui-col-md3">
						<dt>联系电话：</dt>
						<dd>18678786518</dd>
					</dl>
				</div>
				
			</div>
			<div class="box-item">
				<div class="box-title">退款原因</div>
				<p>没事干嘛什么鬼什么鬼没什么搞什么鬼什么鬼没事没事干嘛什么闺蜜什么鬼什么鬼没什么搞什么鬼</p>
			</div>
			<div class="c_btns_center">
				<button class="layui-btn layui-btn-blue" type="button">返回上一页</button>
			</div>
		</div>
	</div>
	<script src="../assets/layui.all.js"></script>
</body>
</html>
